@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Atomic+Age&display=swap');
/* CSS Document */
body{
	font-size: 16px;
}
h1{
	text-align: center;
	font: "atomic-age", Segoe;
	color: black;
	font-size: 3em;

}

div.title > p{
	margin-left: 5%;
	color: black;
	font-size: 2em;
	position: relative;
	font-family: monospace;
	text-align: center;
	margin-right: 100px;
	margin-left: 100px;
}

div.navbar{
	position: sticky;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: -16px;
	padding-top: 0.1px;
	padding-bottom: 0.1px;
	margin left: 10px;
	background-image: linear-gradient(#404040, #000000);
}

.menu > li{
	display: inline;
}

a.active, a.nav-link{
	text-decoration: none;
  padding-right: 2.5em;
	font-size: 2em;
	font-family: Atomic Age;
}

a.nav-link{
	color: #f28e13;
}

a.active{
	color: #4a97cf;
}

img.logo{
	width: 3em;
	padding-right: 1.5em;
}
