@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
/* CSS Document */
body{
	font-size: 16px;
}
h1{
	text-align: center;
	font: "atomic-age", Segoe;
	color: white;

}

p{
	margin-left: 5%;
	color: white;
	font: 10em;
	position: relative;

}

div.navbar{
	position: sticky;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: -16px;
	padding-top: 0.1px;
	padding-bottom: 0.1px;
	background-color: #242323;
	margin left: 10px;
	background-image: url("Navbar BCG.jpg");
}

.menu > li{
	display: inline;
}

a.active, a.nav-link{
	text-decoration: none;
  padding-right: 2.5em;
	font-size: 2em;
	font-family: Righteous;
}

a.nav-link{
	color: #9ba7b0;
}

a.active{
	color: #4a97cf;
}

img.logo{
	width: 3em;
	padding-right: 1.5em;
}
